[Desktop Entry]
Encoding=UTF-8
Name=1und1 Data Usage
Name[en]=1und1 Data Usage
Name[de]=1und1 Datennutzung
Comment=Display actual data usage of 1und1 mobile internet contract.

Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Name=de.baranga.1und1-data-usage
X-KDE-PluginInfo-Version=0.1.0.2
X-KDE-PluginInfo-Author=baranga
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=baranga.de/1und1-data-usage
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Online Services
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-OptionalExtensions=http
